---
import sanityFetch from '@/utils/sanity.fetch';
import { PortableText } from 'astro-portabletext';
import type { PortableTextBlock } from '@portabletext/types';

type QueryProps = {
	question: PortableTextBlock;
	answer: string;
}[];

const Faqs = await sanityFetch<QueryProps>({
	query: `
		*[_type == 'Faq_Collection'] {
			...
		}
	`,
	params: {},
});

console.log(Faqs);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<PortableText value={Faqs[0].question} />
	</body>
</html>
